.testimony-segment {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.story-wrapper {
  display: flex;
  padding: 1em;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.thumbnail-wrapper {
  flex-grow: 1;
}

.thumbnail-image {
  max-width: 450px;
  max-height: 450px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .testimony-segment {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  .thumbnail-wrapper {
    order: 1 !important;
  }

  .story-wrapper {
    order: 2 !important;
  }
}
