.hero-image-wrapper {
  aspect-ratio: 16/9;
  max-height: 420px;
  justify-content: center;
}

.caption-wrapper {
  left: 0;
  bottom: 5px;
  color: white;
  background: #000;
  opacity: 0.7;
}

.carousel-button {
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  color: white;
}

.carousel-button.prev {
  left: 5px;
}
.carousel-button.next {
  right: 5px;
}
