@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* COLORS */

.bg-black {
  background-color: #000000;
}

.text-black {
  color: #000000;
}

.border-black {
  border-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.border-white {
  border-color: #ffffff;
}

/* Custom Color Palette */
/* White, Black, Gray Tones */
.text-white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}
.bg-black {
  background-color: #000000;
}

.text-gray-light {
  color: #d3d3d3;
}
.bg-gray-light {
  background-color: #d3d3d3;
}

.text-gray {
  color: #808080;
}
.bg-gray {
  background-color: #808080;
}

.text-gray-dark {
  color: #404040;
}
.bg-gray-dark {
  background-color: #404040;
}

/* Custom Palette */
.text-primary {
  color: #3e3232;
}
.bg-primary {
  background-color: #3e3232;
}

.text-secondary {
  color: #503c3c;
}
.bg-secondary {
  background-color: #503c3c;
}

.text-tertiary {
  color: #7e6363;
}
.bg-tertiary {
  background-color: #7e6363;
}

.text-quaternary {
  color: #a87c7c;
}
.bg-quaternary {
  background-color: #a87c7c;
}

/* Gray Tones */
.bg-gray-100 {
  background-color: #f5f5f5;
}

.text-gray-100 {
  color: #f5f5f5;
}

.border-gray-100 {
  border-color: #f5f5f5;
}

.bg-gray-200 {
  background-color: #e0e0e0;
}

.text-gray-200 {
  color: #e0e0e0;
}

.border-gray-200 {
  border-color: #e0e0e0;
}

.bg-gray-300 {
  background-color: #cccccc;
}

.text-gray-300 {
  color: #cccccc;
}

.border-gray-300 {
  border-color: #cccccc;
}

.bg-gray-400 {
  background-color: #b3b3b3;
}

.text-gray-400 {
  color: #b3b3b3;
}

.border-gray-400 {
  border-color: #b3b3b3;
}

.bg-gray-500 {
  background-color: #999999;
}

.text-gray-500 {
  color: #999999;
}

.border-gray-500 {
  border-color: #999999;
}

.bg-gray-600 {
  background-color: #808080;
}

.text-gray-600 {
  color: #808080;
}

.border-gray-600 {
  border-color: #808080;
}

.bg-gray-700 {
  background-color: #666666;
}

.text-gray-700 {
  color: #666666;
}

.border-gray-700 {
  border-color: #666666;
}

.bg-gray-800 {
  background-color: #4d4d4d;
}

.text-gray-800 {
  color: #4d4d4d;
}

.border-gray-800 {
  border-color: #4d4d4d;
}

.bg-gray-900 {
  background-color: #333333;
}

.text-gray-900 {
  color: #333333;
}

.border-gray-900 {
  border-color: #333333;
}

/* flexbox */

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}

/* FIX: this somehow does not work */
.justify-center: {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.list-none {
  list-style-type: none;
}

/* margins */

.m-auto {
  margin: auto;
}

/* Margin Y-axis (Top and Bottom) */
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Margin X-axis (Left and Right) */
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Padding Y-axis (Top and Bottom) */
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Padding X-axis (Left and Right) */
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.m-1 {
  margin: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.ml-3 {
  margin-left: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.m-5 {
  margin: 1.25rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.ml-5 {
  margin-left: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mr-6 {
  margin-right: 1.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-6 {
  margin-left: 1.5rem;
}

/* padding */

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pl-4 {
  padding-left: 1rem;
}

.p-5 {
  padding: 1.25rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pl-5 {
  padding-left: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pl-6 {
  padding-left: 1.5rem;
}

/* gap */

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.m-w-1200 {
  max-width: 1200px;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
